body{
	margin:0;
	padding: 0;
	background-image: url("https://i.ytimg.com/vi/BJKbIm-CtLU/maxresdefault.jpg");
	-webkit-background-size:cover;
	background-size: cover;
	font-family: Poppins;

}
.wrapper{
	width: 400px;
	height: 420px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;

}
h1{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-bottom: 7%;
	font-family: cursive;
}
.wrraper input{
	width: 100%;
	margin-bottom: 20px;

}
.wrapper input[type=text], .wrapper input[type=password]{
	border: none;
	border-bottom: 2px solid black;
	background: transparent;
	outline: none;
	height: 30px;
	font-size: 16px;
	opacity: 1;
	color:red;
}
.wrapper input[type=submit]:hover{
	cursor:pointer;
}
.wrapper a{
	font-size: 18px;
	text-decoration: none;
	color:blue;
	opacity:0.8;
}
.wrapper a:hover{
	color:blue;
	opacity:1;
	
}
.bottom-text{
	color:#fff;
}
.bottom-text input{
	width: 10%;
	float: left;
}
.bottom-text a{
	float: right;
}
#overlay-area{
	position:absolute;
	background-color: rgpa(0,0,0,0.4);
	z-index: -5;
	height: 100%;
	width:100%;
	top:0;
	bottom: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1da1f2;
    color: #ffffff;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    
  }
  .button:hover, .button:focus {
    background: #0080ff;
   
  }
  .button-block {
    display: 1px block;
    width: 50%;
   
  }
  ::placeholder{
    color:crimson;
}